<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .gallery {
            display: flex;
            flex-wrap: wrap;
        }

        .gallery a[data-fancybox] {
            flex-grow: 1;
            object-fit: cover;
            margin: 2px;
            display: flex;
            width: 25%;
        }

        /* a[data-fancybox] {
            flex-grow: 1;
            object-fit: cover;
            margin: 2px;
            display: flex;
            width: 25%;
        } */

        /* .gallery a[data-fancybox] img {
            height: 250px;
            object-fit: cover;
            flex-grow: 1;
            width: 25%;
            vertical-align: inherit;
        } */

        .gallery a[data-fancybox] img {
            height: 250px;
            width: auto;
            max-width: inherit;
            display: inherit;
            margin: 0;
            padding: 1px;
            box-shadow: none;
            vertical-align: inherit;
            object-fit: cover;
            flex-grow: 1;
            width: 25%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<body>
    <div class="gallery">
        {{ $path := print "content\\" .Page.File.Dir (.Get "src") }}
        {{ $url := print .Page.RelPermalink (.Get "src") }}
        {{ range (readDir $path) }}
        {{ $src := print $url "/" .Name }}
        <a data-fancybox="gallery" href="{{ $src }}">
            <img src="{{ $src }}"> <br />
        </a>
        {{ end }}
    </div>
</body>

</html>